<div class="work-section-container">
  <div class="header">Work</div>
  <div class="work-table-wrapper">
    <div class="item-wrapper">
      <div class="item-1">
        <div class="item-section-1">
          <div class="year">2022 - Ongoing</div>
          <div class="company-name">SOTI</div>
        </div>
        <div class="item-section-2">
          <div class="role">Full-stack Developer&nbsp;|</div>
          <div class="skill">&nbsp;Dotnet, Angular</div>
        </div>
      </div>
    </div>
  </div>
  <div class="work-experience">
    <p class="desc">Work experinece</p>
    <p class="count">2 years</p>
  </div>
</div>
