<div class="skill-container" id="skill-section">
  <!-- <div class="my-skill-wrapper">
    <div class="skill-card">My Skill</div>
  </div> -->
  <div class="skill-block-wrapper">
    @if(!isMobile){
    <div class="skill-block-container-1">
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
      <app-skill-block skill="sql"> </app-skill-block>
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
    </div>
    }
    <div class="skill-block-container-2">
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
      <app-skill-block skill="sql"> </app-skill-block>
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
    </div>
    <div class="skill-block-container-1">
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
      <app-skill-block skill="sql"> </app-skill-block>
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
    </div>
    <div class="skill-block-container-2">
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
      <app-skill-block skill="sql"> </app-skill-block>
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
    </div>
    <div class="skill-block-container-1">
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
      <app-skill-block skill="sql"> </app-skill-block>
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
    </div>
    <div class="skill-block-container-2">
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
      <app-skill-block skill="sql"> </app-skill-block>
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
    </div>
    <div class="skill-block-container-1">
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
      <app-skill-block skill="sql"> </app-skill-block>
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
    </div>
    <div class="skill-block-container-2">
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
      <app-skill-block skill="sql"> </app-skill-block>
      <app-skill-block skill="html"> </app-skill-block>
      <app-skill-block skill="css"> </app-skill-block>
      <app-skill-block skill="sass"> </app-skill-block>
      <app-skill-block skill="js"> </app-skill-block>
      <app-skill-block skill="ts"> </app-skill-block>
      <app-skill-block skill="angular"> </app-skill-block>
      <app-skill-block skill="rxjs"> </app-skill-block>
      <app-skill-block skill="c"> </app-skill-block>
      <app-skill-block skill="csharp"> </app-skill-block>
    </div>
  </div>
</div>
