.skill-block {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  &.mobile {
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
  }
}
.html {
  background-image: url(../../../public/html.png);
}
.css {
  background-image: url(../../../public/css3.png);
}
.ts {
  background-image: url(../../../public/typescript.svg);
}
.sass {
  background-image: url(../../../public/sass.png);
}
.angular {
  background-image: url(../../../public/angularjs.png);
}
.rxjs {
  background-image: url(../../../public/rxjs.svg);
}
.c {
  background-image: url(../../../public/c.svg);
}
.csharp {
  background-image: url(../../../public/csharp.png);
}
.sql {
  background-image: url(../../../public/sql.png);
}
