.main-container{
    width:100%;
    display: flex;
    &.black{
        background-color: black;
        transition: background-color ease-in 0.5s;
    }
    &.white{
        background-color: white;
        transition: background-color ease-in 0.5s;
    }
    app-nav-bar{
        width:10%;
    }
    .content-list{
        display: flex;
        flex-direction: column;
        width:90%;
    }
}

